<div class="parent">
  <div class="div1">
    <iframe src="https://www.youtube.com/embed/6i_SjY9OFpc" width="400" height="294" frameborder="0"></iframe>
  </div>
  <div class="div2">
    <iframe src="https://www.youtube.com/embed/SHnYkWji-I4" width="400" height="294" frameborder="0"></iframe>
  </div>
  <div class="div3">
    <iframe src="https://www.youtube.com/embed/nYcHi9EgUHs" width="400" height="294" frameborder="0"></iframe>
  </div>
  <div class="div4">
    <iframe src="https://www.youtube.com/embed/U2Z7BY_igEw" width="400" height="294" frameborder="0"></iframe>
  </div>
</div>


