<div class="parent">
    <div class="div1">
      <iframe src="https://www.youtube.com/embed/FG9xSgN86BM" width="400" height="294" frameborder="0"></iframe>
    </div>
    <div class="div2">
      <iframe src="https://www.youtube.com/embed/f5UMWUtXps8" width="400" height="294" frameborder="0"></iframe>
    </div>
    <div class="div3">
      <iframe src="https://www.youtube.com/embed/irg3IQdSWoI" width="400" height="294" frameborder="0"></iframe>
    </div>
    <div class="div4">
    <iframe src="https://www.youtube.com/embed/2jH7--ovgNM" width="400" height="294" frameborder="0"></iframe>
    </div>
  </div>